<div class="center-div">
    <br>
    <h1>Website under construction...</h1>

    <br>

    <p>Greetings, dear reader. This website is currently in transition to an Angular project. 
        Therefore, any content that existed here previously is temporarily unavailable. If you would like to see some of my work, feel free
        to check out <a href="https://github.com/rleboeu">my GitHub</a> repositories. If you're a prospective employer and looking for my updated
        resume, you can contact me directly, preferably through email at <span class="important">leboeufrm@gmail.com</span> or alternatively via 
        <a href="https://www.linkedin.com/in/ryan-leboeuf-8a22371a3/">LinkedIn</a>. </p>
</div>